.mvp-container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fdebd0; /* Soft orange background */
    color: #333;
}

.mvp-container h1 {
    color: #2ecc71; /* Bright green */
    font-size: 2em;
    text-shadow: 2px 2px #8e44ad; /* Purple shadow for depth */
}

.mvp-details {
    background-color: #f0e5f9; /* Soft purple background */
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.mvp-details h2 {
    color: #8e44ad; /* Vibrant purple */
    font-size: 1.5em;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #8e44ad; /* Vibrant purple */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2ecc71; /* Bright green on hover */
}
