.profile-container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fdebd0; /* Soft orange background */
    color: #333;
}

.profile-container h1 {
    color: #8e44ad; /* Vibrant purple */
    font-size: 2em;
    text-shadow: 2px 2px #2ecc71; /* Green shadow for depth */
}

.player-stats, .brawler-stats, .recent-battles {
    background-color: #f0e5f9; /* Soft purple background */
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.brawler-stats h2, .recent-battles h2 {
    color: #2ecc71; /* Bright green */
    font-size: 1.5em;
}
